<footer>
  <div>
    <img src="assets/images/logo-white.png" />
  </div>
  <div class="footer-menu">
    <button mat-button class="menu-button">Privacy Policy</button>
    <button mat-button class="menu-button">Terms & Conditions</button>
    <button mat-button class="menu-button">Blog</button>
    <button mat-button class="menu-button">Support</button>
  </div>
  <div class="footer-social">
    <mat-icon>facebook</mat-icon>
    <mat-icon>discord</mat-icon>
    <mat-icon>whatsapp</mat-icon>
  </div>
</footer>
