<mat-toolbar color="primary" class="header-toolbar">
  <div class="header-content">
    <div class="logo-section">
      <img src="assets/images/logo.png" />
    </div>
    <div class="header-menu">
      <button mat-button class="menu-button font-extralight">Adopt Kittens</button>
      <button mat-button class="menu-button font-extralight">Kitty Stories</button>
      <button mat-button class="menu-button font-extralight">About Us</button>
      <button mat-button class="menu-button font-extralight">Blog</button>
      <button mat-button class="menu-button font-extralight">Contact</button>
    </div>
  </div>
</mat-toolbar>
